:local(.FormGroup),
:local(.FormElement) {
  width: 100%;
}

:local(.FormGroup ~ *) {
  margin-top: var(--sm-spacing);
}

:local(.Label) {
  display: block;
  font-size: 1rem;
  margin-bottom: var(--xs-spacing);
  color: var(--bossanova);
}

:local(.FormGroupContents) {
  display: flex;
}

:local(.FormElement) {
  display: inline-block;
  border: 0;
  font-size: 1rem;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--med-gray);
  border-radius: var(--border-radius);
  background: var(--white);
  color: var(--bossanova);
  padding: var(--md-spacing);
}

:local(.FormButton) {
  display: inline-flex;
  background: var(--aquamarine);
  color: var(--bossanova);
  font-size: 1rem;
  font-weight: 400;
  padding: var(--md-spacing);
  margin-left: var(--sm-spacing);
  width: 5rem;
  border: 0;
  cursor: pointer;
  border-radius: var(--border-radius);
  position: relative; /* allows absolute positioning within */
  transition: color var(--anim-dur) var(--anim-easing);
}

:local(.FormButton:hover) {
  color: var(--lochinvar);
}
