:root {
  --white: #fff;
  --light-gray: #f0f0f0;
  --med-gray: #7a7a7a;
  --dark-gray: #696969;
  --aquamarine: #69f4bd;
  --lochinvar: #319589;
  --mulberry: #C14078;
  --san-juan: #344d6c;
  --bossanova: #372650;
  --wine-berry: #3e1b3c;
  --xs-spacing: 5px;
  --sm-spacing: 10px;
  --md-spacing: 20px;
  --lg-spacing: 40px;
  --anim-dur: 0.25s;
  --anim-easing: ease-out;
  --anim-bounce-easing: cubic-bezier(.05, 1.15, .85, .05);
  --border-radius: 5px;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: 1px dashed currentColor;
  outline-offset: -3px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgba(0, 0, 0, 0.025);
}

body,
#root {
  height: 100%;
  width: 100%;
}